/* General Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-conect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-conect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
    scale: 0;

}

.nav-mob-open {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .navbar {
        margin: 50px 70px;
    }

    .nav-menu {
        gap: 40px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin: 50px 70px;
    }

    .nav-conect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        scale: 1;
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        padding-top: 60px;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .navbar {
        margin: 20px;
    }

    .nav-menu li {
        font-size: 25px;
        padding-left: 10px;
    }
    .nav-menu{
        width: 50%;
    }
}

/* Additional Styles for Active Mobile Menu */
.nav-menu.active {
    right: 0;
}
